<footer>
    <ul>
        <li><a href="https://www.github.com/DaviProgramming" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/davidoliveiradev/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://daviddenisson.com.br" target="_blank"><i class="fa-solid fa-briefcase"></i></a></li>
    </ul>
    <div class="text">
        © David Oliveira 2023 - Todos os direitos reservados.
    </div>
</footer>
