/* Custom scrollbar for skins modal */
.weapon-skins-modal::-webkit-scrollbar {
  width: 8px;
  background-color: var(--secondary-color);
}

.weapon-skins-modal::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 9999px;
}
