/* Custom scrollbar for map text overlay */
.map-text-overlay::-webkit-scrollbar {
  width: 6px;
}

.map-text-overlay::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 9999px;
}
